<% provide :headeractiveclass, "aboutus" %>

<div class="container after-navbar">
        <div class="row row-content ">
            <h1> About Us</h1>
            A constant fight in the mind to reach your goal. ‘Shut up legs’ was devised to spread the racing culture amongst passionate cyclists in Mysore. A series of races will be held throughout the year which will include both road biking and mountain biking. For the novices, here’s a perfect exposure to racing. If you are from Mysore, grab this opportunity to explore your own city. If you are not, all the more reason to come visit. So what are you waiting for? Get your bums on the saddle and embark upon this journey through the undulations, curves and paved roads.
            <h2>About the event:</h2>
            <ul>
                <li>A series of cycling races will be held regularly throughout the year. </li>
                <li>It will include both mountain biking and road biking.</li>
            </ul>
            <h2>Timing:</h2>
            <ul>
                <li>The races are time manually</li>
                <li>We assure accurate results, though not precise to the millisecond.</li>
            </ul>
            <h2>Registration:</h2>
            <ul>
                <li>You can register online on our website.</li>
                <li>Offline registration will be available at one of our registration partners mentioned.</li>
                <li>Registrations will close a week prior to the race.</li>
                <li>Registration fee is Rs. 300/-, for the Men and Women coategory. It is 100/- for Under-18. This has to be paid at the time of registration.</li>
            </ul>
            <h2>Refund:</h2>
            <ul>
                <li>Registration fee is not refundable.</li>
                <li>However, if informed 24 hours prior to the race it can be carried over for the registration to the next race.</li>
            </ul>
            <h2>Facilities:</h2>
            <ul>
                <li>Refreshments will be provided at the starting point that will include water, salts and some snacks.</li>
                <li>Bike transport will not be provided since the race venue will be within the city or at a close proximity.</li>
            </ul>            
        </div>        
</div>
