<% provide :headeractiveclass, "races" %>
    <div class="container after-navbar page-wrap">
        <div class="row row-content">
            <div class="col-xs-12">
            <h1> Race Calendar</h1>
            The following is the tentative schedule of races, spread through out the year. The upcoming race schedule is confirmed and registrations are on.
            <div class = "text-center ">
            <table class = "table-responsive table-bordered table-calendar">
                <tr><th>Date</th><th>Format</th><th>Location</th><th>Result</th></tr>
                <tr><td>06-03-2016</td><td><a href="upcoming">Road - ITT</a></td><td>Ring Road, Nanjangud-road to Siddhartha Nagar</td><td>-</td></tr>
                <tr><td>24-04-2016</td><td>MTB (Off-road)</td><td>TBD</td><td>-</td></tr>
                <tr><td>12-06-2016</td><td>Road</td><td>TBD</td><td>-</td></tr>
                <tr><td>31-07-2016</td><td>MTB(Off-road)</td><td>TBD</td><td>-</td></tr>
                <tr><td>25-09-2016</td><td>Road</td><td>TBD</td><td>-</td></tr>
                <tr><td>20-11-2016</td><td>MTB(Off-road)</td><td>TBD</td><td>-</td></tr>
            </table>
        </div>
        </div>
        </div>        
</div>

