<% provide :headeractiveclass, "races" %>

<div class="container after-navbar">
        <div class="row row-content">
        	<div class="col-xs-12 ">
            <h1>Rules and Regulations - To be given by Kiran</h1>
            <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li><li>
            
In eget quam sed nunc pellentesque feugiat.</li><li>
Pellentesque sed justo at lectus molestie aliquet eu vel metus.</li><li>
Nullam et sem vitae metus porttitor luctus.</li><li>
Aliquam tempor lorem a tortor malesuada blandit.</li><li>
Aliquam in augue accumsan nunc eleifend interdum.</li><li>
Nam cursus ipsum at ex dignissim aliquet.</li><li>
Donec laoreet justo ut congue sagittis.</li><li>
Quisque non diam hendrerit, laoreet lectus suscipit, tincidunt augue.</li><li>
Maecenas consequat nibh id odio consequat, ac semper odio scelerisque.</li><li>
Curabitur sollicitudin tortor vel lorem iaculis luctus.</li><li>
In in sapien at metus convallis vehicula.</li><li>
Praesent ac sapien eget neque dignissim molestie.</li><li>
Phasellus ultrices elit consequat elit tincidunt, egestas iaculis nunc malesuada.</li><li>
Nullam laoreet purus non accumsan cursus.</li><li>
Nunc vestibulum ligula at nunc bibendum laoreet.</li><li>
Suspendisse gravida magna sit amet sapien lobortis, eu dignissim magna posuere.</li><li>
Quisque ultricies nibh nec neque aliquet rhoncus venenatis vitae orci.</li><li>
In sagittis velit ut urna aliquet aliquet.</li><li>
Ut eu arcu at lectus ultricies fermentum.</li><li>
Maecenas et velit vulputate, dictum nulla non, sagittis felis.</li><li>
Mauris at ipsum lacinia, tristique leo sed, rhoncus nisl.</li><li>
Morbi sed arcu et ex elementum lacinia.</li><li>
Pellentesque sed ligula tristique, rutrum tellus vel, euismod ex.</li>
</ul>

        </div>
        </div>
</div>