<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
    	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        <div class="navbar-header">
        	<a href="/" class="pull-left"><%= image_tag("logo.png" , size: "160x80") %></a>
            <a class="navbar-brand" href="#"></a>
			        </div>
        <div id="navbar" class="navbar-collapse collapse">

            <ul class="nav navbar-nav">
                <li><a href="/"> Home</a></li>
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Races <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="upcoming">Upcoming Race</a></li>
                            <li><a href="calendar">Race Calendar</a></li>
                            <li><a href="rules">Rules and Regulations</a></li>
                        </ul>
                    </li>
                <li><a href="aboutus"> About Us</a></li>
                <li><a href="sponsors"> Sponsors</a></li>
                <li><a href="team"> The team</a></li>
                <li><a href="contactus"> Contact Us</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                    <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>                    
                </ul>
        </div>
        
    </div>
    </nav>
<div class="container after-navbar">
        <div class="row row-content">
            <p style="padding:20px;"></p>
            <h1>Rules and Regulations - To be given by Kiran</h1>
            <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li><li>
            
In eget quam sed nunc pellentesque feugiat.</li><li>
Pellentesque sed justo at lectus molestie aliquet eu vel metus.</li><li>
Nullam et sem vitae metus porttitor luctus.</li><li>
Aliquam tempor lorem a tortor malesuada blandit.</li><li>
Aliquam in augue accumsan nunc eleifend interdum.</li><li>
Nam cursus ipsum at ex dignissim aliquet.</li><li>
Donec laoreet justo ut congue sagittis.</li><li>
Quisque non diam hendrerit, laoreet lectus suscipit, tincidunt augue.</li><li>
Maecenas consequat nibh id odio consequat, ac semper odio scelerisque.</li><li>
Curabitur sollicitudin tortor vel lorem iaculis luctus.</li><li>
In in sapien at metus convallis vehicula.</li><li>
Praesent ac sapien eget neque dignissim molestie.</li><li>
Phasellus ultrices elit consequat elit tincidunt, egestas iaculis nunc malesuada.</li><li>
Nullam laoreet purus non accumsan cursus.</li><li>
Nunc vestibulum ligula at nunc bibendum laoreet.</li><li>
Suspendisse gravida magna sit amet sapien lobortis, eu dignissim magna posuere.</li><li>
Quisque ultricies nibh nec neque aliquet rhoncus venenatis vitae orci.</li><li>
In sagittis velit ut urna aliquet aliquet.</li><li>
Ut eu arcu at lectus ultricies fermentum.</li><li>
Maecenas et velit vulputate, dictum nulla non, sagittis felis.</li><li>
Mauris at ipsum lacinia, tristique leo sed, rhoncus nisl.</li><li>
Morbi sed arcu et ex elementum lacinia.</li><li>
Pellentesque sed ligula tristique, rutrum tellus vel, euismod ex.</li>
</ul>

        </div>
        
</div>