<% provide :headeractiveclass, "sponsors" %>

<div class="container after-navbar page-wrap">
        <div class="row row-content ">
        	<div class="col-xs-12 ">
            <h1>Our Awesome Sponsors :)</h1>
            To support us and become our partners, Write to us at sponsors@shutuplegs.in.
        </div>
</div>
</div>
