<% provide :headeractiveclass, "team" %>

<div class="container after-navbar">
        <div class="row row-content">
            <div class="row row-content">
                    <p style="padding:20px;"></p>
                    <div class="col-xs-12 ">
                        <h1>The team</h1>  
                        <div class="media">
                            <div class="media-left media-middle">
                                <%= image_tag "Megha.jpg", class:"media-object img-thumbnail", size:"150" %>
                            </div>
                            <div class="media-body">
                                <h2 class="media-heading">Megha</h2>
                                <p>Megha is a software Engineer, who got tired of the city metro life
and ran back to her hometown to find her true calling. </p>                        
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left media-middle">
                                <%= image_tag "Roohi.jpg", class:"media-object img-thumbnail", size:"150" %>
                            </div>
                            <div class="media-body">
                                <h2 class="media-heading">Roohi</h2>
                                <p>Roohi, a photographer by profession, has always been interested in
sports.</p>
                            </div>
                        </div>
                    </div>
                </div>                                 
        </div>
        
</div>