<% provide :headeractiveclass, "team" %>

<div class="container after-navbar">
        <div class="row row-content">
            <div class="row row-content">
                    <p style="padding:10px;"></p>
                    <h4>
                    Sport is a great way to meet new people. For these two it was the ultimate Frisbee. Somewhere between running behind the discs, in those little tittle-tattles, the idea of shut up legs was born.</h4>
                    <p style="padding:10px;"></p>
                    <div class="col-xs-12 ">
                        <div class="media">
                            <div class="media-left media-middle">
                                <%= image_tag "Megha.jpg", class:"media-object img-thumbnail", size:"150" %>
                            </div>
                            <div class="media-body">
                                <h2 class="media-heading">Megha</h2>
                                <p>A travel enthusiast who dropped out of the rat race to discover her true love for mountains. So much that she even took up a course on how to woo them. Here, she is mostly into checking out routes for the races. Given her experience with ups and downs, we believe she chooses the best.</p>                        
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left media-middle">
                                <%= image_tag "Roohi.jpg", class:"media-object img-thumbnail", size:"150" %>
                            </div>
                            <div class="media-body">
                                <h2 class="media-heading">Roohi</h2>
                                <p>She has an eye for the little things which makes her photography exquisite. Also a sport enthusiast who is willing to try it all. Here, she is mostly engrossed in capturing those moments of hardwork. Otherwise she would be reciting the menu of the places we could munch at.</p>
                            </div>
                        </div>
                    </div>
                </div>                                 
        </div>
        
</div>