<% provide :headeractiveclass, "races" %>
<div class="container after-navbar">
        <div class="row row-content">
            <div class="col-xs-12">
               <h1>Road Race - Individual Time Trail :</h1>
            </div>
        </div>
        
        <div class="row row-content">
           <div class="col-xs-12 col-sm-6">
            <table class = "table-responsive table-bordered">
                <tr>
                    <th>Race Date</th>
                    <td> 06-03-2015</td>
                </tr>
                <tr>
                    <th>Race Start Point</th>
                    <td>Bandipalya, Ring Road, near Nanjungud junction</td>
                </tr>
                <tr>
                    <th>Race start time</th>
                    <td> 7.00 am</td>
                </tr>
                <tr>
                    <th>Race Cut-off time</th>
                    <td> 8.30 am</td>
                </tr>
                <tr>
                    <th>Race distance</th>
                    <td>14km</td>
                </tr>
                <tr>
                    <th>Type of the race</th>
                    <td> Road Race - ITT</td>
                </tr>
                <tr>
                    <th>Race course </th>
                    <td> Route profile on strava <a href="https://www.strava.com/activities/471992715"> here </a> </td>
                </tr>
                <tr>
                    <th>Race Categories</th>
                    <td> Men, Under-18 and Women</td>
                </tr>
                <tr>
                    <th>Registration Fee</th>
                    <td> 300</td>
                </tr>
            </table>  
            <div class="text-center">
            <a class="btn btn-danger btn-lg" href="#">Register Now</a></p>
        </div>
        </div>
            <div class="col-xs-12 col-sm-6">
            <iframe height='405' width='590' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/activities/471992715/embed/ea392f4ab325487f418db544966d395e838061c3'></iframe>
        </div>    
           
            
       </div>
            
        <div class="row row-content">
           <div class = "col-xs-12">
            <p>
            <strong>About the Format :</strong>
            An individual time trial (ITT) is a road bicycle race in which cyclists race alone against the clock on flat or rolling terrain, or up a mountain road. There are also track-based time trials where riders compete in velodromes, and team time trials (TTT). ITTs are also referred to as "the race of truth", as winning depends only on each rider's strength and endurance, and not on help provided by team-mates and others riding ahead and creating a slipstream.
            Starting times are at equal intervals, usually one or two minutes apart. The starting sequence is usually based on the finishing times in preceding races (or preceding stages in the case of a multi-stage race) with the highest ranked cyclist starting last. Starting later gives the racer the advantage of knowing what time they need to beat (and also makes the event more interesting to spectators). Competitors are not permitted to draft (ride in the slipstream) behind each other. Any help between riders is forbidden. The rider with the fastest time is declared the winner.
        </p>
            
       </div>

    </div>
</div>