@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-social";


.row-header {
  margin: 0px auto;
  padding: 0px auto;
}
.row-content {
  margin: 0px auto;
  min-height: 50px;
}
.row-footer {
  background-color: #267326;
  margin: 0px auto;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */

  margin-bottom: -142px;
}
.page-wrap:after {
  content: "";
  display: block;
  height: 142px;
}
.site-footer {
  background: orange;
}
.jumbotron {
  margin: 0px auto;
  padding: 70px 30px 70px 30px;
  background: #66cc66;
  color: floralwhite;
}
.without-padd {
  padding: 0px;
}
.container-fluid {
  padding: 0px;
}
.carousel {
  background: #267326;
}
.carousel .item {
  height: 500px;
}
.carousel .item img {
  left: 0;
  height: 500px;
  position: absolute;
  top: 0;
}
.navbar {
  height: 80px;
}
.navbar-inverse {
  background: #267326;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a {
  background: #267326;
  color: #000000;
}
.navbar-inverse .navbar-nav > .active > a:hover {
  background: #39ad39;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:focus {
  background: #66cc66;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a {
  background: #267326;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:hover {
  background: #39ad39;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:focus {
  background: #66cc66;
  color: #ffffff;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  background-color: #39ad39;
  color: #eeeeee;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #000000;
}
.navbar-inverse .navbar-nav .open .dropdown-menu {
  background-color: #39ad39;
  color: #eeeeee;
}
.navbar-brand,
.navbar-nav {
    padding-top: 27px;
}
.navbar-right{
  padding-right: 50px;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.footer,
.push {
  height: 50px;
}
address {
  color: #0f0f0f;
  font-size: 80%;
  margin: 0px;
}
body {
  z-index: 0;
  height: 100%;
  padding-top: 50px;
}
html {
  height: 100%;
}
.tab-content {
  border-bottom: 1px solid #66cc66;
  border-left: 1px solid #66cc66;
  border-right: 1px solid #66cc66;
}
.affix {
  top: 100px;
}
#carouselButtons {
  bottom: 0px;
  position: absolute;
  right: 0px;
}
