<footer class="row-footer <%= yield(:footerclass) %>">
    <div class="row row-content">  
        <div class="col-xs-12 text-center">
        <h1>"Let's race, Mysore"</h1>         
         </div>
</div>
</footer>